<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Person</title>
</head>
<body>
    <div>
        <p>Last name: <span th:text="${person.lastName}"></span></p>
        <p>First name: <span th:text="${person.firstName}"></span></p>
        <p>Middle name: <span th:text="${person.middleName}"></span></p>
        <p>Birth date: <span th:text="${person.birthDate}"></span></p>
        <p>Birth place: <span th:text="${person.birthPlace}"></span></p>
        <p>Itn: <span th:text="${person.itn}"></span></p>
        <p>Blood group: <span th:text="${person.bloodGroup}"></span></p>
        <p>Blood RhD: <span th:text="${person.bloodRhD}"></span></p>
    </div>
</body>
</html>